extends layout

block content
  h1 Edit Me
  p Write Here
  br
  .container
    .row
        form#formEditPost(name="editpost",method="post",action="/post/update/#{post._id}")
          input.col-xs-4#inputPostTitle(type="text", value="#{post.posttitle}", name="posttitle")
          br
          br
          input.col-xs-4#inputPostSlug(type="text", value="#{post.slug}", name="slug")
          br
          br
          textarea.col-xs-12#inputPostContent(type="text", name="postcontent", rows="10")
            = post.postcontent
          input(type="hidden", value="#{post._id}", name="_id")
          input(type="hidden", name="_method", value="PUT")
          button#btnSubmit.btn(type="submit") submit