extends layout

block content
  h1 Coding in Crayon
  br
  .container
    .row
      .col-xs-12.col-md-8.col-md-offset-2
        h2 Words I've Written
        br
        ul(style="list-style-type: none;")
          each post, i in postlist
            li 
              h3
                a(href="/post/#{post.slug}")= post.posttitle
              p!= post.postcontent