extends layout

block content
  h1.logolink coding in crayon
  br
  .container
    .row
      .col-xs-12.col-md-2
        ul(style="list-style-type: none;")
          li
            a(href="#")
             h3 Readme
          li
            a(href="#")
             h3 Contact
          li(style="padding-top: 10px;")
            a(style="padding-left: 10px;")
              i.fa.fa-github
            a(style="padding-left: 10px;")
              i.fa.fa-google-plus
            a(style="padding-left: 10px;")
              i.fa.fa-twitter
            a(style="padding-left: 10px;")
              i.fa.fa-facebook

      .col-xs-12.col-md-8.col-md-offset-1
        h2 Words I've Written
        ul(style="list-style-type: none;")
          each post, i in postlist
            li
              h3
                a(href="/post/#{post.slug}")= post.posttitle
              p!= post.postcontent
              hr
