extends layout

block content
  h1 New Post
  .container
    .row
        form#formCreatePost(name="createpost",method="post",action="/createpost", role="form")
          .form-group
            label(for="inputPostTitle") Title
            input.form-control#inputPostTitle(type="text", placeholder="sometitle", name="posttitle")
          .form-group
            label(for="inputPostSlug") Pretty URL
            input.form-control#inputPostSlug(type="text", placeholder="Pretty URL Goes Here", name="slug")
          .form-group
            label(for="inputPostContent") Body
            textarea.form-control#inputPostContent(type="text", placeholder="brilliance", name="postcontent", rows="15")
          button.btn.btn-primary#btnSubmit(type="submit") submit