extends layout

block content
  h1 New Post
  p Write Here
  br
  .container
    .row
        form#formCreatePost(name="createpost",method="post",action="/createpost")
          input.col-xs-4#inputPostTitle(type="text", placeholder="sometitle", name="posttitle")
          br
          br
          input.col-xs-4#inputPostSlug(type="text", placeholder="Pretty URL Goes Here", name="slug")
          br
          br
          textarea.col-xs-12#inputPostContent(type="text", placeholder="brilliance", name="postcontent", rows="10")
          br
          br
          br
          button.btn#btnSubmit(type="submit") submit