extends layout

block content
  h1 Coding in Crayon

  h2= post.posttitle
  br
  form(method="POST", action="/deletepost/#{post._id}")
    input(type="hidden" name="_method" value="DELETE")
    button(type="submit") Delete
  a(href="/post/#{post._id}/edit") Edit
  br
  p!= post.postcontent