extends layout

block content
  a.logolink(href="/")
    h1 Coding in Crayon
  .container
    .row
      .col-xs-12.col-md-8.col-md-offset-2
        h2= post.posttitle
        p= post.pubdate
        p!= post.postcontent
